/* Import */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Variables */
/* Couleurs */
/* Polices */
/* Animations */
@-webkit-keyframes loader {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
@keyframes loader {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@-webkit-keyframes border {
  0% {
    width: 0px;
  }
  50% {
    width: 125px;
  }
  100% {
    width: 250px;
  }
}

@keyframes border {
  0% {
    width: 0px;
  }
  50% {
    width: 125px;
  }
  100% {
    width: 250px;
  }
}

@-webkit-keyframes border2 {
  0% {
    width: 0px;
  }
  50% {
    width: 250px;
  }
  100% {
    width: 500px;
  }
}

@keyframes border2 {
  0% {
    width: 0px;
  }
  50% {
    width: 250px;
  }
  100% {
    width: 500px;
  }
}

/* Loader */
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #9256dcdd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  overflow: hidden;
  pointer-events: none;
  -webkit-animation: loader 2.525s ease-in-out 3s 1 normal forwards;
          animation: loader 2.525s ease-in-out 3s 1 normal forwards;
}

.loader .loaderborder {
  position: fixed;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-radius: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-animation: border 2.5s 1 linear forwards;
          animation: border 2.5s 1 linear forwards;
}

@media all and (min-width: 1280px) {
  .loader .loaderborder {
    border-top: 7px solid white;
    border-bottom: 7px solid white;
    padding-top: 60px;
    padding-bottom: 60px;
    -webkit-animation: border2 2.5s 1 linear forwards;
            animation: border2 2.5s 1 linear forwards;
  }
}

.loader .loadertext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "shrikhand", sans-serif;
  color: white;
  font-size: 2.5em;
  opacity: 0%;
  animation: loader 1.25s ease-out 0s 1 reverse forwards;
}

@media all and (min-width: 1280px) {
  .loader .loadertext {
    font-size: 5em;
  }
}

.loader .loadertext .lettre_1 {
  opacity: 0%;
  animation: loader 1.25s ease-out 0s 1 reverse forwards;
}

.loader .loadertext .lettre_2 {
  opacity: 0%;
  animation: loader 1.25s ease-out 0.3s 1 reverse forwards;
}

.loader .loadertext .lettre_3 {
  opacity: 0%;
  animation: loader 1.25s ease-out 0.6s 1 reverse forwards;
}

.loader .loadertext .lettre_4 {
  opacity: 0%;
  animation: loader 1.25s ease-out 0.9s 1 reverse forwards;
}

.loader .loadertext .lettre_5 {
  opacity: 0%;
  animation: loader 1.25s ease-out 1.2s 1 reverse forwards;
}

.loader .loadertext .lettre_6 {
  opacity: 0%;
  animation: loader 1.25s ease-out 1.5s 1 reverse forwards;
}

.loader .loadertext .lettre_7 {
  opacity: 0%;
  animation: loader 1.25s ease-out 1.8s 1 reverse forwards;
}

.loader .loadertext .lettre_8 {
  opacity: 0%;
  animation: loader 1.25s ease-out 2.1s 1 reverse forwards;
}

header,
main,
footer {
  opacity: 0%;
  background-color: white;
  animation: loader 3s ease-out 2s 1 reverse forwards;
}

/* Header */
.logo {
  width: 100%;
  padding: 20px 0 10px 0;
  border-bottom: 2px solid #d6d6d6;
}

.logo h1 {
  font-family: "shrikhand", sans-serif;
  font-size: 2.1em;
  text-align: center;
}

@media all and (min-width: 1280px) {
  .logo {
    padding: 30px 0 30px 0;
  }
  .logo h1 {
    font-size: 5em;
  }
}

/* Search */
.search {
  background-color: #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}

.search i {
  color: rgba(0, 0, 0, 0.65);
  margin-right: 20px;
}

.search input {
  border-style: hidden;
  background-color: #ececec;
  color: black;
  font-family: "roboto", sans-serif;
  font-weight: 600;
  width: 140px;
}

.search ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.65);
  font-family: "roboto", sans-serif;
  font-size: 1.15em;
  font-weight: 600;
}

.search :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.65);
  font-family: "roboto", sans-serif;
  font-size: 1.15em;
  font-weight: 600;
}

.search ::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.65);
  font-family: "roboto", sans-serif;
  font-size: 1.15em;
  font-weight: 600;
}

.search ::placeholder {
  color: rgba(0, 0, 0, 0.65);
  font-family: "roboto", sans-serif;
  font-size: 1.15em;
  font-weight: 600;
}

.search .search_focus:focus {
  outline: none;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
}

.title h2 {
  font-family: "roboto", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.title p {
  font-family: "roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-right: 35px;
  padding-left: 35px;
}

.title a {
  margin-top: 20px;
  margin-bottom: 80px;
  background-color: #9356dc;
  color: white;
  padding: 18px;
  text-decoration: none;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  border-radius: 30px;
  -webkit-box-shadow: 1.01px 1.01px 10px 0.1px rgba(0, 0, 0, 0.418), 40px 40px 45px 0px #ff79da inset;
          box-shadow: 1.01px 1.01px 10px 0.1px rgba(0, 0, 0, 0.418), 40px 40px 45px 0px #ff79da inset;
}

.title a:hover {
  background-color: #ff79d986;
  -webkit-box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.5), 0px 40px 50px 10px #9256dc77 inset;
          box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.5), 0px 40px 50px 10px #9256dc77 inset;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: cubic-bezier(0.3, 0, 0.2, 1) 0.3s;
  transition: cubic-bezier(0.3, 0, 0.2, 1) 0.3s;
}

@media all and (min-width: 992px) {
  .title h2 {
    font-size: 2em;
  }
  .title p {
    font-size: 1.6em;
  }
  .title a {
    margin-bottom: 40px;
    padding: 20px 40px 20px 40px;
  }
}

/* Fonctionnement */
.fonctionnement {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonctionnement h2 {
  font-size: 1.3em;
  font-weight: 700;
  padding-bottom: 25px;
}

.fonctionnement .helps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonctionnement .helps .help {
  position: relative;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f7f7f7;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.fonctionnement .helps .help span {
  position: absolute;
  left: -10px;
  background-color: #9356dc;
  color: white;
  padding: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25px;
  width: 25px;
}

.fonctionnement .helps .help i {
  color: rgba(0, 0, 0, 0.65);
  padding-right: 25px;
  margin-left: -20px;
  font-size: 1.2em;
}

.fonctionnement .helps .help .fa-mobile-alt {
  margin-left: -10px;
}

.fonctionnement .helps .help .fa-list-ul {
  margin-left: -25px;
}

.fonctionnement .helps .help h3 {
  font-weight: 700;
}

.fonctionnement .help:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: #f5edff;
  -webkit-transition: cubic-bezier(0.3, 0, 0.2, 1) 0.3s;
  transition: cubic-bezier(0.3, 0, 0.2, 1) 0.3s;
}

@media all and (min-width: 992px) {
  .fonctionnement .helps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .fonctionnement .helps .help {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media all and (min-width: 1280px) {
  .fonctionnement h2 {
    font-size: 1.6em;
    text-align: center;
  }
  .fonctionnement .helps {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fonctionnement .helps .help {
    width: 15%;
    margin-right: 2.5%;
    margin-left: 2.5%;
  }
  .fonctionnement .helps .help h3 {
    font-size: 0.9em;
  }
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "roboto", sans-serif;
}

.restaurants h2 {
  font-size: 1.6em;
  font-weight: 700;
}

.restaurants .restaurant_cards {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants .restaurant_cards .restaurant_card {
  position: relative;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 15px;
  height: 270px;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.15);
}

.restaurants .restaurant_cards .restaurant_card a {
  text-decoration: none;
}

.restaurants .restaurant_cards .restaurant_card .restaurant_img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.restaurants .restaurant_cards .restaurant_card .restaurant_img .new {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 8px;
  background-color: #99e2d0;
  color: #629185;
  font-size: 0.85em;
  font-weight: 600;
  border-radius: 2px;
}

.restaurants .restaurant_cards .restaurant_card .restaurant_img .new:hover {
  color: #99e2d0;
  background-color: #629185;
  -webkit-transition: cubic-bezier(0.3, 0, 0.2, 1) 0.3s;
  transition: cubic-bezier(0.3, 0, 0.2, 1) 0.3s;
}

.restaurants .restaurant_cards .restaurant_card .restaurant_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

.restaurants .restaurant_cards .restaurant_card .restaurant_desc .restaurant_text {
  padding-left: 20px;
}

.restaurants .restaurant_cards .restaurant_card .restaurant_desc .restaurant_text h3 {
  font-weight: 600;
  font-size: 1.1em;
  color: black;
  padding-bottom: 5px;
}

.restaurants .restaurant_cards .restaurant_card .restaurant_desc .restaurant_text p {
  color: black;
}

.restaurants .restaurant_cards .restaurant_card .restaurant_desc .restaurant_heart {
  position: relative;
  padding-right: 20px;
  padding-top: 10px;
  font-size: 1.5em;
}

.restaurants .restaurant_cards .restaurant_card .restaurant_desc .restaurant_heart .fa-regular {
  position: absolute;
  right: 20px;
  opacity: 100%;
  color: black;
  -webkit-transition: ease-in-out 0.35s;
  transition: ease-in-out 0.35s;
}

.restaurants .restaurant_cards .restaurant_card .restaurant_desc .restaurant_heart .fa-solid {
  position: absolute;
  right: 20px;
  opacity: 0%;
  color: #ff79da;
  -webkit-transition: ease-in-out 0.35s;
  transition: ease-in-out 0.35s;
}

.restaurants .restaurant_cards .restaurant_card .restaurant_desc .restaurant_heart .fa-regular:hover {
  opacity: 0%;
  color: transparent;
}

.restaurants .restaurant_cards .restaurant_card .restaurant_desc .restaurant_heart .fa-solid:hover {
  opacity: 100%;
}

.restaurants .restaurant_cards .restaurant_card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.35);
  -webkit-transition: cubic-bezier(0.3, 0, 0.2, 1) 0.3s;
  transition: cubic-bezier(0.3, 0, 0.2, 1) 0.3s;
}

@media all and (min-width: 992px) {
  .restaurants .restaurant_cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .restaurants .restaurant_cards .restaurant_card {
    width: 40%;
  }
}

@media all and (min-width: 1280px) {
  .restaurants h2 {
    text-align: center;
    padding-bottom: 15px;
  }
  .restaurants .restaurant_cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .restaurants .restaurant_cards .restaurant_card {
    width: 20%;
  }
}

/* Footer */
footer {
  background-color: #243531;
  padding: 20px 20px 40px 20px;
}

footer .footer_logo {
  font-family: "shrikhand", sans-serif;
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 1.15em;
}

footer .footer_sec {
  font-family: "roboto", sans-serif;
  padding-top: 6px;
  padding-bottom: 6px;
}

footer .footer_sec .footer_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_sec a {
  text-decoration: none;
  color: white;
}

footer .footer_sec a i {
  padding-right: 10px;
}

footer .footer_sec a:hover {
  color: #9356dc;
}

@media all and (min-width: 992px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer_logo {
    font-size: 1.6em;
  }
  footer .links {
    font-size: 1.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .links .footer_sec {
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid white;
    border-left: 1px solid white;
  }
}
/*# sourceMappingURL=style.css.map */